<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>TODO Login</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class="container">
		<div class="row col-md-4 offset-md-4">
			<div th:if="${param.logout}">
				<div class="alert alert-success">You have been logout
					successfully.</div>
			</div>
			<div th:if="${param.error}">
				<div class="alert alert-danger">Invalid username or password.</div>
			</div>
			<div class="card">
				<div class="card-header ">
					<h2 class="text-center">Login Panel</h2>
				</div>
				<div class="card-body">
					<form method="post" role="form" th:action="@{/perform_login}"
						class="form-horizontal">
						<div class="form-group mb-3">
							<label class="form-label"><strong>Username *</strong></label> <input
								class="form-control" name="username" id="username"
								placeholder="Enter your username" type="text" />
						</div>
						<div class="form-group mb-3">
							<label class="form-label"><strong>Password *</strong></label> <input
								class="form-control" name="password" id="password"
								placeholder="Enter your password" type="password" />
						</div>
						<div class="form-group mb-3 text-center">
							<button type="submit" class="btn btn-primary ">Login</button>
						</div>
						<div class="form-group mb-3 text-center">
							<span>Haven't registered? <a th:href="@{/register}">Register
									Here</a></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
